<div class="container">
  <h1 style="align-items: center; color: var(--purple)">Create a Character!</h1>

    <form [formGroup]="characterForm" (ngSubmit)="onSubmit()" class="form">
      <div>
        <label for="name">Name</label>
        <input type="text" formControlName="name" id="name" required>
      </div>
      <div>
        <label for="race">race</label>
        <input type="text" formControlName="race" id="race" required>
      </div>
      <div>
        <label for="charClass">Class</label>
        <input type="text" formControlName="charClass" id="charClass" required>
      </div>
      <div>
        <label for="alignment">Alignment</label>
        <input type="text" formControlName="alignment" id="alignment" required>
      </div>
      <div>
        <label for="level">Level</label>
        <input type="text" formControlName="level" id="level" required>
      </div>
      <div>
        <label for="gender">Gender</label>
        <input type="text" formControlName="gender" id="gender" required>
      </div>
      <div>
        <label for="background">Background</label>
        <input type="text" formControlName="background" id="background" required>
      </div>
      <div>
        <label for="Bio">Biography</label>
        <textarea formControlName="bio" id="bio" rows="5" required></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
