.box {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-main{
  text-align: center;
  position: relative;
  background-image: url(../../../assets/img/paper.jpg);
  border-radius: 10px;
  box-shadow: 1px 1px 20px 1px #000;
  margin: 80px;
}

h1 {
  margin-top: 50px;
}



.btn:hover {
  box-shadow: 1px 0px 5px 1px #000;
}


.npcImgs {
  transition: transform 0.3s ease-in-out;
}
.npcImgs:hover {
  box-shadow: 1px 0px 10px 1px #935FA7;
  transform: scale(1.1);
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  margin: 1px;
}

#portraitModalHeader, #portraitModalFooter, #addModalHeader, #addModalFooter {
  background-image: linear-gradient(var(--main-bg-color), #000000);
  color: var(--main-text-color);

}

#portraitModalBody, #addModalBody {
  background-image: url(../../../assets/img/paper.jpg);
  filter: brightness(90%)
}

