<div class="box">
<div  class="container-main">
  <button class="btn btn-danger close-button" (click)="closeForm()">X</button>
  <div class="row">
    <h1 class="text-center">Welcome to the NPC Creator</h1>
  </div>

  <form #npcForm="ngForm" (ngSubmit)="onSubmit(npcForm)" class="align-items:center mt-5 clearfix">


      <div class="form-group form-control mx-auto row mb-4">
        <label for="npcName" class="text-center">Who goes there?</label>
        <input type="text" id="npcName" name="npcName" placeholder="Give them a name" [(ngModel)]="npc.npcName" required class="" #npcName="ngModel">
        <div class="alert alert-danger"
          *ngIf="npcName.touched && npcName.invalid"> Name is required</div>
        </div>

    <div class="container">
      <div class="row">
      <div class="col-md-6">
        <div class="d-flex flex-column m-auto justify-content-center">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#portraitModal">Choose their portrait</button>




            <div class="form-group mb-4">
              <label for="imgUrl" class="p-3 row">Or, choose a custom image:</label>
              <input class="form-control" type="text" id="imgUrl" name="imgUrl" placeholder="Image URL" [(ngModel)]="npc.imgUrl" required #imgUrl="ngModel">
              <div class="alert alert-danger"
          *ngIf="imgUrl.touched && imgUrl.invalid"> Image is required</div>
              </div>
            </div>
          </div>


          <!--preview img, do not touch-->
        <div class="col-md-6">
          <div class="card mx-auto npcPreview" style="width: 250px; height: 250px;border-radius: 1.2rem;">
            <img *ngIf="npc.imgUrl" [src]="npc.imgUrl" alt="" class="img-fluid" id="npcImg" style="width: 250px; height: 250px;">
          </div>
        </div>
      </div>

      <!-- Portrait Modal -->
      <div class="modal modal-xl fade" id="portraitModal">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen-sm-down">
          <div class="modal-content">
            <div class="modal-header" id="portraitModalHeader">
              <h1 class="modal-title fs-2" id="portraitModalLabel">Choose Their Portrait</h1>
              <button type="button" class="btn btn-close btn-close-white" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body p-" id="portraitModalBody">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-8">
                    <div class="d-flex flex-wrap p-1" id="imgdisplay" >
                      <div *ngFor="let img of npcImgs" class="p-1">
                        <img
                        [src]="img.url"
                        alt="NPC Thumbnail"
                        (click)="selectNpcImg(img.id)"
                        class="selectable-image img-fluid"
                        [class.selected]="npcImgId === img.id"
                        style="width: 70px; height: 70px; cursor: pointer;"
                        id="npcImg"
                        class="npcImgs"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 pt-3 pr-5">
                      <div class="card npcPreview" style="width: 275px; height: 275px; border-radius: 1.2rem;">
                        <img *ngIf="npc.imgUrl" [src]="npc.imgUrl" alt="" class="img-fluid" id="npcImg" style="width: 275px; height: 275px;">
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer" id="portraitModalFooter">
              <button type="submit" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
          </div>
        </div>
      </div>

    <div class="row mx-auto mt-5">
      <div class="col-md-6 align-items-center"> <!--Left-->

        <div class="form-group form-control row mx-auto mb-4">
          <label for="npcClass" class="text-center p-3">Class:</label>
          <select id="npcClass" name="npcClass" [(ngModel)]="npc.npcClass" required #npcClass="ngModel">
            <option *ngFor="let classOption of classes" [value]="classOption">{{ classOption }}</option>
          </select>
          <div class="alert alert-danger"
          *ngIf="npcClass.touched && npcClass.invalid"> Class is required</div>
        </div>

        <div class="form-group form-control row mx-auto mb-4">
          <label for="npcRace" class="text-center p-3">Race:</label>
          <select id="npcRace" name="npcRace" [(ngModel)]="npc.npcRace" required #npcRace="ngModel">
            <option *ngFor="let raceOption of races" [value]="raceOption">{{ raceOption }}</option>
          </select>
          <div class="alert alert-danger"
          *ngIf="npcRace.touched && npcRace.invalid"> Race is required</div>
        </div>

        <div class="form-group form-control row mx-auto mb-4">
          <label for="npcGender" class="text-center p-3">Gender:</label>
          <select id="npcGender" name="npcGender" [(ngModel)]="npc.gender" required #npcGender="ngModel">
            <option *ngFor="let genderOption of genders" [value]="genderOption">{{ genderOption }}</option>
          </select>
          <div class="alert alert-danger"
          *ngIf="npcGender.touched && npcGender.invalid"> Gender is required</div>
        </div>

      </div>

      <div class="col-md-6 "> <!--Right-->

        <div class="form-group form-control row mx-auto mb-4 row">
          <label for="role" class="text-center p-3">Role:</label>
          <select id="role" name="role" [(ngModel)]="npc.role" required #role="ngModel">
            <option *ngFor="let roleOption of roles" [value]="roleOption">{{ roleOption }}</option>
          </select>
          <div class="alert alert-danger"
          *ngIf="role.touched && role.invalid"> Role is required</div>
        </div>

        <div class="form-group form-control row mx-auto mb-4">
          <label for="npcAlignment" class="text-center p-3">Alignment:</label>
          <select id="npcAlignment" name="npcAlignment" [(ngModel)]="npc.alignment" required #npcAlignment="ngModel">
            <option *ngFor="let alignmentOption of alignments" [value]="alignmentOption">{{ alignmentOption }}</option>
          </select>
          <div class="alert alert-danger"
          *ngIf="npcAlignment.touched && npcAlignment.invalid"> Alignment is required</div>
        </div>

        <div class="form-group form-control row mx-auto mb-4">
          <label for="npcAge" class="text-center p-3">Age:</label>
          <select id="npcAge" name="npcAge" [(ngModel)]="npc.npcAge" required #npcAge="ngModel">
            <option *ngFor="let ageOption of ages" [value]="ageOption">{{ ageOption }}</option>
          </select>
          <div class="alert alert-danger"
          *ngIf="npcAge.touched && npcAge.invalid"> Age is required</div>
        </div>
        </div>

      </div>

      <div class="form-group form-control row mx-auto mb-4">
        <label for="npcNLocation" class="text-center">Location</label>
        <input type="text" id="npcLocation" name="npcLocation" placeholder="Where did you last meet?" [(ngModel)]="npc.location" class="">
      </div>

      <div class="form-group form-control row mx-auto mb-4">
        <label for="npcDescription" class="text-center">Description</label>
        <textarea id="npcDescription" name="npcDescription" placeholder="What should we know about them?" [(ngModel)]="npc.description" rows="3" cols="50"></textarea>
      </div>

    <!--Form Nav-->

    <div class="d-flex justify-content-around mb-5">
      <button type="button" class="btn btn-danger" (click)="closeForm()">Close</button>
      <button type="submit" class="btn btn-warning" [disabled]="!npcForm.valid" data-bs-toggle="modal" data-bs-target="#addModal">Add NPC</button>
    </div>
  </form>
</div>



<!-- Add Modal -->
<div class="modal modal-lg fade" id="addModal">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header" id="addModalHeader">
        <h1 class="modal-title fs-2" id="addModalLabel">NPC Added</h1>
        <button type="button" class="btn btn-close btn-close-white" aria-label="Close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body p-5" id="addModalBody">
          <h2 class="display-4 text-center p-5"> {{ npc.npcName }} Added! </h2>
      </div>
      <div class="modal-footer" id="addModalFooter">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

