<div class="container">

    <div>
            @for (character of characters; track character.id){
              <div class="card">
            <p> Name: {{ character.name }}</p>
            <p> Race: {{ character.race }}</p>
            <p> Class: {{ character.char_class }}</p>
            <p> Alignment: {{ character.alignment }}</p>
            <p> Level: {{ character.level }}</p>
            <p> Background: {{ character.background }}</p>
            <p> Gender: {{ character.gender }}</p>
            <p> Bio: {{ character.bio }}</p>
            <ul> Adventures:
              <div>
                @for (adventure of character.adventures; track adventure.id){
                <p>{{ adventure.title }} by: {{ adventure.player}}</p>
                }
            </div>
            </ul>
            <p>
              <img [src]="character.image" alt="An image of {{ character.name }}"
                class="img-fluid mx-auto d-block" id="characterImg" style="max-height: 100px; width: auto;">
            </p>
          </div>
          }
    </div>
</div>

