.container {
  display: flex;
  justify-content: center;
  height: 60vh;
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 5px var(--border);
  background-color: var(--yellow);
  overflow-y: auto;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
  margin: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.table .row-img {
  width: 100px; /* or your desired image width */
  height: auto;
}

.table td {
  vertical-align: middle; /* This centers the text vertically */
  border-top: none;
  background-color: var(--yellow);
}

.table .row-name, .table .row-role {
  padding: 0.5em; /* Adds some padding around the text */
}

.table-bordered td,
.table-bordered th {
  border: none;
}

.table-bordered {
  border-bottom: none;
}

.pagination-controls {
  display: flex;
  padding: 0px 5px;
  align-items: center;
  justify-content: center;
}

.btn {
  margin-inline: 10px;
}

.btn:hover {
  box-shadow: 1px 0px 5px 1px var(--border);
}


/* Rounded Table Corners */
table {
  /* Change these properties */
  --border: 1px solid var(--border);
  border-radius: 10px;

  /* Don't change these properties */
  border-spacing: 0;
  border-collapse: separate;
  border: var(--border);
  overflow: hidden;
 }

 /* Apply a border to the bottom of all but the last row */
 table>thead>tr:not(:last-child)>th,
 table>thead>tr:not(:last-child)>td,
 table>tbody>tr:not(:last-child)>th,
 table>tbody>tr:not(:last-child)>td,
 table>tfoot>tr:not(:last-child)>th,
 table>tfoot>tr:not(:last-child)>td,
 table>tr:not(:last-child)>td,
 table>tr:not(:last-child)>th,
 table>thead:not(:last-child),
 table>tbody:not(:last-child),
 table>tfoot:not(:last-child) {
  border-bottom: var(--border);
 }
