<div class="container">
  <div class="row">
    <div class="col-md-12">
        <ul>
            @for (character of characters; track character.id){

            <li style="width: 25%;"> Name: {{ character.name }}</li>
            <li style="width: 25%;"> Race: {{ character.race }}</li>
            <li style="width: 25%;"> Class: {{ character.char_class }}</li>
            <li style="width: 25%;"> Alignment: {{ character.alignment }}</li>
            <li style="width: 25%;"> Level: {{ character.level }}</li>
            <li style="width: 25%;"> Background: {{ character.background }}</li>
            <li style="width: 25%;"> Gender: {{ character.gender }}</li>
            <li style="width: 25%;"> Bio: {{ character.bio }}</li>
            <li style="width: 25%;"> Adventures:
              <ul>
                <li *ngFor="let adventure of character.adventures">{{ adventure.title }}</li>
              </ul>
            </li>
            <li style="width: 25%;"> Name: {{ character.player }}</li>
          }
           <!--  <td style="width: 25%;">
              <img [src]="characterInfo.imgUrl" alt="An image of {{ characterInfo.name }}"
                class="img-fluid mx-auto d-block" id="characterImg" style="max-height: 100px; width: auto;">
            </td> -->
          </ul>
      </div>
  </div>
</div>
