
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color)
}

.center {
  text-align: center;
  padding: 20px;
  border: 1px solid var(--main-bg-color);
  border-radius: 8px;
  background-color: var(--main-field-color);
  box-shadow: 0 0 20px var(--header-shadow-color);

}

h1 {
  font-size: 3em;
  font-weight: bolder;
}

p {
  font-size: .5em;
  align-self: end;
}