<!-- Footer -->
<footer class="footer text-center p-3 fixed-bottom">
  <div class="d-flex flex-wrap align-items-center justify-content-center">
    <p class="mb-0">&copy; 2024 Looking For Adventure</p>
    <button
      type="button"
      class="btn btn-link"
      data-bs-toggle="modal"
      data-bs-target="#privacyModal"
    >
      Privacy Policy
    </button>
    <button
      type="button"
      class="btn btn-link"
      data-bs-toggle="modal"
      data-bs-target="#contactModal"
    >
      Contact US
    </button>
  </div>
</footer>
