<!-- Footer -->
<footer class="footer text-center p-3 fixed-bottom">
  <div class="d-flex flex-wrap align-items-center justify-content-center">
    <p class="mb-0">&copy; 2023 NPC Character Archive</p>
    <button
      type="button"
      class="btn btn-link"
      data-bs-toggle="modal"
      data-bs-target="#privacyModal"
    >
      Privacy Policy
    </button>
    <button
      type="button"
      class="btn btn-link"
      data-bs-toggle="modal"
      data-bs-target="#contactModal"
    >
      Contact US
    </button>
  </div>
</footer>

<!-- Privacy Modal -->
<div class="modal modal-xl fade" id="privacyModal">
  <div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen-sm-down"
  >
    <div class="modal-content">
      <div class="modal-header" id="privacyModalHeader">
        <h1 class="modal-title fs-2" id="privacyModalLabel">
          Privacy Policy for NPC Archive
        </h1>
        <button
          type="button"
          class="btn btn-close btn-close-white"
          aria-label="Close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body p-3" id="privacyModalBody">
        <h2>Introduction:</h2>
        <p>
          Welcome to the NPC Archive! Our website is dedicated to providing
          Dungeon Masters and players with a convenient archive of Non-Player
          Characters (NPCs) for use in their campaigns. We respect your privacy
          and are committed to protecting any personal information you may
          provide.
        </p>

        <h2>Information We Collect:</h2>
        <p>
          <strong>1. User-Provided Information:</strong><br />
          When you voluntarily submit NPC creations or other content to our
          website, we collect the information you provide, including NPC
          details, names, and any other information you choose to share.
        </p>

        <p>
          <strong>2. Automatically Collected Information:</strong><br />
          Like many websites, we may collect certain information automatically,
          such as your IP address, browser type, and operating system. This
          information helps us enhance the user experience and troubleshoot any
          technical issues.
        </p>

        <h2>How We Use Your Information:</h2>
        <p>
          <strong>1. NPC Archive:</strong><br />
          User-provided NPC information is used to populate our archive, making
          it accessible to the DND community. Contributions are shared
          anonymously unless the user provides a name or username for
          attribution.
        </p>

        <p>
          <strong>2. Improvement of Services:</strong><br />
          Automatically collected information is used for analytical purposes to
          improve our website's functionality, performance, and user interface.
        </p>

        <p>
          <strong>3. Communication:</strong><br />
          If you choose to contact us through the provided contact form or
          email, we may use your email address to respond to your inquiries,
          comments, or feedback.
        </p>

        <h2>Data Security:</h2>
        <p>
          We take appropriate measures to protect the information submitted to
          us, both during transmission and once received. However, please be
          aware that no method of transmission over the internet or electronic
          storage is entirely secure.
        </p>

        <h2>Cookies:</h2>
        <p>
          Our website may use cookies to enhance your experience. You have the
          option to accept or decline cookies through your browser settings.
          Please note that declining cookies may limit your access to certain
          features of the site.
        </p>

        <h2>Third-Party Links:</h2>
        <p>
          Our website may contain links to third-party websites. We are not
          responsible for the privacy practices or content of these external
          sites. We encourage users to read the privacy policies of any linked
          websites.
        </p>

        <h2>Updates to Privacy Policy:</h2>
        <p>
          We may update this privacy policy periodically. The effective date at
          the top of the policy will indicate when the latest changes were made.
          Users are encouraged to review the privacy policy regularly.
        </p>

        <h2>Contact Us:</h2>
        <p>
          If you have any questions, concerns, or requests regarding this
          privacy policy, please contact us at
          <a href="mailto:contact@npcarchive.com">contact&#64;npcarchive.com</a>.
        </p>

        <p>
          Thank you for using NPC Archive! May your campaigns be filled with
          exciting characters and epic adventures.
        </p>
      </div>
      <div class="modal-footer" id="privacyModalFooter">
        <button
          type="button"
          class="btn btn-outline-light"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Contact Modal
<div class="modal modal-xl fade" id="contactModal">
  <div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen-md-down"
  >
    <div class="modal-content">
      <div class="modal-header" id="contactModalHeader">
        <h1 class="modal-title fs-2" id="contactModalLabel">Contact Us</h1>
        <button
          type="button"
          class="btn btn-close btn-close-white"
          aria-label="Close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body p-4" id="contactModalBody">
       Contact Form
        <form #contactForm="ngForm" (ngSubmit)="sendEmail(contactForm)">
          <div class="mb-3">
            <label for="contactSubjectInput" class="form-label">Subject</label>
            <input
              type="text"
              class="form-control"
              id="contactSubjectInput"
              placeholder="Enter subject"
              #subjectRef="ngModel"
              ngModel
              name="subject"
              required
            />
            <div
              *ngIf="subjectRef.invalid && subjectRef.touched"
              class="text-danger"
            >
              Subject is required.
            </div>
          </div>
          <div class="mb-3">
            <label for="contactEmailInput" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="contactEmailInput"
              placeholder="name@example.com"
              #emailRef="ngModel"
              ngModel
              name="email"
              required
              email
            />
            <div *ngIf="emailRef.errors && emailRef.touched">
              <div *ngIf="emailRef.errors.required" class="text-danger">
                Email is required.
              </div>
              <div *ngIf="emailRef.errors.email" class="text-danger">
                Enter a valid email.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="contactMessageInput" class="form-label">Message</label>
            <textarea
              class="form-control"
              id="contactMessageInput"
              rows="3"
              #messageRef="ngModel"
              ngModel
              name="message"
              required
            ></textarea>
            <div
              *ngIf="messageRef.invalid && messageRef.touched"
              class="text-danger"
            >
              Message is required.
            </div>
          </div>
           <button
            type="submit"
            class="btn btn-light"
            [disabled]="contactForm.invalid"
          >
            Send
          </button>
        </form>
      </div>
      <div class="modal-footer" id="submittedModalFooter">
        <button
          type="submit"
          class="btn btn-outline-light"
          data-bs-dismiss="modal"
          [disabled]="contactForm.invalid"
        >
          Send
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-lg fade" id="submittedModal" #submittedModal>
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header" id="submittedModalHeader">
        <h1 class="modal-title fs-2" id="submittedModalLabel">Submitted</h1>
        <button
          type="button"
          class="btn btn-close btn-close-white"
          aria-label="Close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body p-5" id="submittedModalBody">
        <h2 class="display-4 text-center p-5">Email sent!</h2>
      </div>
      <div class="modal-footer" id="submittedModalFooter">
        <button
          type="button"
          class="btn btn-outline-light"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div> -->

