.footer {
  width: 100vw;
  z-index: 999;
  overflow: hidden;
  box-sizing: border-box; /* Ensures padding and borders are included in the element's total width and height */
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  box-shadow: 3px 10px 15px 10px var(--header-shadow-color);
  height: 10vh;
}

#privacyModalHeader, #privacyModalFooter, #contactModalHeader, #contactModalFooter, #submittedModalHeader, #submittedModalFooter {
  background-image: linear-gradient(var(--main-bg-color), #000000);
  color: var(--main-text-color);

}

#privacyModalBody, #contactModalBody, #submittedModalBody {
  /* background-image: url(../../assets/img/paper.jpg); */
  filter: brightness(90%)
}
