<div class="container">
  <div class="row">
    <div class="col-md-12">

      <table class="table">

        <thead>
          <tr>
           <!--  <th style="width: 25%;"><button class="btn btn-warning" (click)="onAddCharacter()">Add Character</button></th> -->
          </tr>
        </thead>

        @defer(on immediate) {
        <tbody>
            @for (character of characters; track character.id){

            <td style="width: 25%;"> Name: {{ characterInfo.name }}</td>
            <td style="width: 25%;"> Race: {{ characterInfo.race }}</td>
            <td style="width: 25%;"> Class: {{ characterInfo.charClass }}</td>
            <td style="width: 25%;"> Alignment: {{ characterInfo.alignment }}</td>
            <td style="width: 25%;"> Level: {{ characterInfo.level }}</td>
            <td style="width: 25%;"> Background: {{ characterInfo.background }}</td>
            <td style="width: 25%;"> Gender: {{ characterInfo.gender }}</td>
            <td style="width: 25%;"> Bio: {{ characterInfo.bio }}</td>
            <td style="width: 25%;"> Adventures:
              <ul>
                <li *ngFor="let adventure of characterInfo.adventures">{{ adventure.title }}</li>
              </ul>
            </td>
          }
           <!--  <td style="width: 25%;">
              <img [src]="characterInfo.imgUrl" alt="An image of {{ characterInfo.name }}"
                class="img-fluid mx-auto d-block" id="characterImg" style="max-height: 100px; width: auto;">
            </td> -->

          </tr>
        </tbody>
      }

      </table>


    </div>
  </div>
</div>

<!-- Confirm Modal -->
<!-- <div class="modal modal-lg fade" id="confirmModal">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header" id="confirmModalHeader">
        <h1 class="modal-title fs-2" id="confirmModalLabel">Delete this NPC?</h1>
        <button type="button" class=" btn btn-close btn-close-white" aria-label="Close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body p-5" id="confirmModalBody">
        <h2 class="display-5 text-center p-5">Are you sure you want to delete this NPC?</h2>
      </div>
      <div class="modal-footer" id="confirmModalFooter">
        <button type="submit" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="onDeleteNpc()">Send</button>
      </div>
    </div>
  </div>
</div>
 -->
<!-- Delete Modal -->
<div class="modal modal-lg fade" id="deleteModal">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header" id="deleteModalHeader">
        <h1 class="modal-title fs-2" id="deleteModalLabel">NPC Deleted!</h1>
        <button type="button" class=" btn btn-close btn-close-white" aria-label="Close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body p-5" id="deleteModalBody">
        <h2 class="display-4 text-center p-5"> NPC Deleted!</h2>
      </div>
      <div class="modal-footer" id="deleteModalFooter">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
