<div class="d-flex mb-3 sidebar">
  <div class="top-sidebar d-flex flex-column">
    <div class="p-2">
    <div class="logo">
     <img src="../../assets/img/Logotaskit.jpg"/>
    </div>
  <div *ngIf="isAuthenticated">
    <div class="task-list btn btn-secondary" routerLinkActive="active" routerLink="/tasklist">Task List
    </div>
  </div>
  <div *ngIf="isAuthenticated">
    <div class="task-list btn btn-secondary" routerLinkActive="active" routerLink="/kanban-board">Kanban Board
    </div>
  </div>
  <div *ngIf="!isAuthenticated">
    <a class="task-list btn btn-secondary" routerLink="/auth" routerLinkActive="active">Auth</a>
  </div>
  </div>


  <div class="user d-flex">
    <div>
      <span>
      <img
      src="../../../assets/img/spaceghost.png"
      alt="Current User Profile Pic"
      class="img-responsive"
      style="max-height: 50px; border-radius: 75%; align-items: center;"></span>
    </div>
    <div>
        <h4 class="list-group-item-heading">Current User Name</h4>
        <p class="list-group-item-text">Current User Email</p>
    </div>
    <div *ngIf="isAuthenticated">
        <a style="cursor: pointer;" routerLink="/auth" routerLinkActive="active" >
        <img src="../../assets/img/Frame 9.svg" alt="log-out">
        </a>
    </div>
  </div>
</div>
</div>
