.sidebar {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  background-color: #fff;
  border-right: 2px solid #D2D2D2;
  }


  .logo {
  margin-left: 10px;
  align-items: center;
  }

  .task-list {
  display: flex;
  font-size: 1em;
  margin: 2em;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #48C15B;
  padding: 1em .5em;
  }

  .user {
  align-self: flex-end;
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: .8em 1em;
  align-items: center;
  gap: 10px;
  border-top: 2px solid #DDD;
  background: #FFF;
  }

  .active {
    background-color:#48C15B;
  }

