<div class="class">
  <app-header></app-header>
  <div class="container flex">
    <div class="sidebar">
      <mat-tab-group>
        <mat-tab label="Characters">
          <h1>Characters</h1>
          <app-character-list [characters]="playerCharacters" />
        </mat-tab>
        <mat-tab label="Adventures">
          <h1>Adventures</h1>
          <!-- <app-adventure-list [adventures]="playerAdventures" /> -->
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="selected">
      <app-selectdetail></app-selectdetail>
    </div>
    <div class="main-feed">
      <app-feed></app-feed>
    </div>
  </div>
  <app-footer></app-footer>
  </div>
