<app-header></app-header>
<div class="container">
    <div class="sidebar">
      <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="changeTab($event.index)" style="margin: 0px; background-color: var(--bgteal); border-top-left-radius: 10px; border-top-right-radius: 10px; border-left: 2px solid var(--yellow)">
        <mat-tab label="Characters">
          <ng-template mat-tab-label>
          <h1 class="tab-label">Characters</h1>
        </ng-template>
          <app-character-list [characters]="playerCharacters" />
        </mat-tab>
        <mat-tab label="Adventures">
          <ng-template mat-tab-label>
          <h1 class="tab-label">Adventures</h1>
        </ng-template>
          <!-- <app-adventure-list [adventures]="playerAdventures" /> -->
        </mat-tab>
      </mat-tab-group>
    </div>

<div class="d-flex">
    <div class="selected">
      <app-selectdetail></app-selectdetail>
    </div>

  <div class="d-flex">
    <div class="main-feed">
      <app-feed></app-feed>
    </div>
  </div>
</div>
<app-footer></app-footer>


