.container {
  display: flex;
}

.sidebar {
  margin-left: 0px;
  float: left;
  height: 100vh;
  flex: 0 0 250px; /* Fixed width sidebar */
  background-color: var(--bgteal);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px solid var(--border);

}

.tab-label{
  background-color: var(--bgteal);
  padding: 0px;
  color: blueviolet;
  text-shadow: 5px solid var(--border);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}


.tab-label-active {
  background-color: #007bff; /* Example background color */
  color: #fff; /* Example text color */
  border-radius: 5px; /* Example border radius */
}

.main-feed {
  background-color: var(--bgteal);
  justify-content: center;
  align-self: center;
}

.selected {
  background-color: var(--bgteal);
  justify-content: center;
  align-self: center;
}
