<div class="container">
<div class="sidebar d-flex">
  <header class="header d-flex align-items-center">
    <div class="flex-column align-items-center">
      <div class="logo-container mr-auto">
        <img src="..\assets\img\npcLogo.png" alt="Logo" class="header-logo">
      </div>
    </div>
    <div class="greeting text-wrap d-none d-md-block ml-3 my-0">
      <p>Greetings, Traveler</p>
    </div>
    <div class="signout">
      Logout
      <!-- <img (click)="signOut()" src="../../assets/img/signout.svg" alt="signout" style="cursor: pointer;width: 25px;height: 25px; padding-left: 5px"> -->
    </div>
  </header>

      <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="changeTab($event.index)" style="margin: 0px; background-color: var(--bgteal); border-top-left-radius: 10px; border-top-right-radius: 10px; border-left: 2px solid var(--yellow)">
        <mat-tab label="Characters">
          <ng-template mat-tab-label>
          <h1 class="tab-label">Characters</h1>
        </ng-template>
          <app-character-list [characters]="playerCharacters" />
        </mat-tab>
        <mat-tab label="Adventures">
          <ng-template mat-tab-label>
          <h1 class="tab-label">Adventures</h1>
        </ng-template>
          <!-- <app-adventure-list [adventures]="playerAdventures" /> -->
        </mat-tab>
      </mat-tab-group>
      <button class="btn btn-warning" (click)="onCreateCharacter()">Create Character</button>
    </div>

<div class="container">
  <div class="row">
    <div class="main-feed">
      <app-feed></app-feed>
    </div>
  </div>
<div class="row">
    <div class="selected">
      <app-selectdetail></app-selectdetail>
    </div>
  </div>

</div>
</div>

<app-footer></app-footer>


