.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  margin-left: 0px;
  flex: 0 0 250px; /* Fixed width sidebar */
  background-color: var(--border);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px solid var(--border);
}

.tab-label{
  background-color: var(--bgteal);
  padding: 0px;
  color: blueviolet;
  text-shadow: 5px solid var(--border);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}

.tab-label-active {
  background-color: #007bff; /* Example background color */
  color: #fff; /* Example text color */
  border-radius: 5px; /* Example border radius */
}

.main-feed {
  flex: 1; /* Takes remaining space */
  overflow-y: auto; /* Enable vertical scroll */
  background-color: var(--border);
  padding: 20px;
  align-self: center;
  justify-content: center;
}
.selected {
  background-color: var(--border);
  padding: 20px;
  margin-top: 20px;
  justify-content: center;
  align-self: center;
}
