
.flex-grid {
  display: grid;
  grid-template-columns: repeat(1fr);
}

.filter{
  padding-bottom: 1em;
  display: flex;
  gap: 10px;
}

.addtask{
  display: flex;
  justify-content: right;
}

.task-list-container {
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

.filter, .btn {
  display: flex;
}

.btn {
  background-color: #48C15B;
}
