.demo {
  border-radius: 10px;
  border: 40px solid #CFFFD7;
}

.box {
  background-color:#f1efef;
  border-radius: 5px;
  border: 1px solid #e1dfdfda;
  padding: 3rem;
  width: fit-content;
  height: fit-content;
}

.container {
  height: 100%;
  width: 100%;
}

h3 {
  padding: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
  text-wrap: wrap;
}
