<div class="container d-flex justify-content-center align-items-center">
  <div class="box">
    <H1>Welcome to </H1>
    <img src="../../assets/img/Logotaskit.jpg"/>

  <div class="col-sm">
    <h3>This platform allows you to keep track of tasks professionally, domestically, and more. Sign up today to get to work!</h3>
  </div>
  <div class="col-sm">
   <img class="demo img-responsive" src="../../assets/img/Kanban 1.svg" alt="kanban" >
  </div>
  <div class="col-sm">
    <h3>Create an account to get started today.</h3>
  </div>

  <div class="col-sm">
    <div class="d-flex flex-row justify-content-evenly">
      <div>
        <div class="btn btn-success" routerLinkActive="active" routerLink="auth">Sign Up</div>
     </div>
      <div>
        <p>or</p>
      </div>
      <div>
       <div class="btn btn-success" routerLinkActive="active" routerLink="auth"(click)="checkAuthMode()">Login</div>
      </div>
    </div>
  </div>
</div>
</div>
