<div class="container d-flex justify-content-center align-items-center">
  <div class="box row d-flex align-items-center justify-content-center">
    <H1 style="font-size: 3rem; line-height: 3rem;">Welcome to
    <img  src="../../assets/img/Logo.svg" height="75px"/></H1>
  <div class="col-sm">
    <p>This platform allows you to keep track of tasks professionally, domestically, and more. Sign up today to get to work!</p>
  </div>
  <div class="col-sm">
   <img class="demo img-responsive" src="../../assets/img/Kanban 1.svg" alt="kanban" >
  </div>
  <div class="col-sm">
    <p>Create an account to get started today.</p>
  </div>

  <div class="col-sm">
    <div class="d-flex flex-row justify-content-evenly">
      <div>
        <div class="btn btn-success btn-lg" routerLinkActive="active" routerLink="auth">Sign Up</div>
     </div>
      <div>
        <p>or</p>
      </div>
      <div>
       <div class="btn btn-success btn-lg" routerLinkActive="active" routerLink="auth"(click)="checkAuthMode()">Login</div>
      </div>
    </div>
  </div>
</div>
</div>
