
<div class="container">
  <div class="text">
     Create an Adventure
  </div>
  <form [formGroup]="adventureForm" (ngSubmit)="onSubmit()" class="form">
     <div class="form-row">
        <div class="input-data">
          <input type="text" formControlName="title" id="title" required>
           <div class="underline"></div>
          <label for="title">Title</label>
        </div>
        <div class="input-data">
          <input type="text" formControlName="ruleset" id="ruleset" required>
           <div class="underline"></div>
           <label for="ruleset">Ruleset</label>
        </div>
     </div>
     <div class="form-row">

     <div class="form-row">
        <div class="input-data">
          <input type="text" formControlName="adventure_type" id="adventure_type" required>
           <div class="underline"></div>
           <label for="adventure_type">Type</label>
        </div>
        <div class="input-data">
          <input type="text" formControlName="status" id="status" required>
           <div class="underline"></div>
           <label for="status">Status</label>
        </div>
        <div class="input-data">
          <input type="text" formControlName="setting" id="setting" required>
           <div class="underline"></div>
           <label for="setting">Setting</label>
        </div>
     </div>
     <div class="input-data textarea">
      <textarea formControlName="description" id="description" rows="8" cols="80" required></textarea>
      <div class="underline"></div>
      <label for="Description">Description</label>
        <div class="form-row submit-btn">
           <div class="input-data">
              <div class="inner"></div>
              <input type="submit" value="submit">
           </div>
        </div>
</div>
</div>
</form>
</div>
