<div class="container">
  <div class="row">
    <div class="col-md-12">

      <table class="table">

        <thead>
          <tr>
            <th style="width: 25%;" (click)="handleNpcSort('name')">Name <img src="../assets/img/sort.png" alt="Sort Icon" style="max-height: 25px; max-width: 25px;"></th>
            <th style="width: 25%;" (click)="handleNpcSort('role')">Role <img src="../assets/img/sort.png" alt="Sort Icon" style="max-height: 25px; max-width: 25px;"></th>
            <th style="width: 25%;"><input type="text" placeholder="Search..." class="form-control" (input)="onSearchTermChange($event.target.value)"></th>
            <th style="width: 25%;"><button class="btn btn-warning" (click)="onAddNpc()">Add NPC</button></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let npc of filteredNPCs" (click)="onSelected(npc)">
            <td style="width: 25%;">{{ npc.npcName }}</td>
            <td style="width: 25%;">{{ npc.role }}</td>
            <td style="width: 25%;">
              <img [src]="npc.imgUrl" alt="An image of {{ npc.npcName }}"
                class="img-fluid mx-auto d-block" id="npcImg" style="max-height: 100px; width: auto;">
            </td>
            <td>
              <button class="btn btn-link p-0" (click)="$event.stopPropagation(); confirmNPC($event, npc)" title="Delete NPC"  data-bs-toggle="modal" data-bs-target="#confirmModal">
                <img src="../../assets/img/deleteStone.png" alt="Delete" style="max-width: 75px; max-height: 75px; margin-left: 5px;">
              </button>
            </td>

          </tr>
        </tbody>

      </table>

      <!-- Pagination Controls -->
      <div class="pagination-controls">
        <button class="btn btn-warning" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
        <span>Page {{ currentPage }} of {{ totalItems / itemsPerPage | ceil }}</span>
        <button class="btn btn-warning" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage * itemsPerPage >= totalItems">Next</button>
        <button class="btn btn-warning" (click)="createRandomNpc()">Add Random NPC</button>
      </div>

    </div>
  </div>
</div>

<!-- Confirm Modal -->
<div class="modal modal-lg fade" id="confirmModal">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header" id="confirmModalHeader">
        <h1 class="modal-title fs-2" id="confirmModalLabel">Delete this NPC?</h1>
        <button type="button" class=" btn btn-close btn-close-white" aria-label="Close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body p-5" id="confirmModalBody">
        <h2 class="display-5 text-center p-5">Are you sure you want to delete this NPC?</h2>
      </div>
      <div class="modal-footer" id="confirmModalFooter">
        <button type="submit" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="onDeleteNpc()">Send</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal modal-lg fade" id="deleteModal">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header" id="deleteModalHeader">
        <h1 class="modal-title fs-2" id="deleteModalLabel">NPC Deleted!</h1>
        <button type="button" class=" btn btn-close btn-close-white" aria-label="Close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body p-5" id="deleteModalBody">
        <h2 class="display-4 text-center p-5"> NPC Deleted!</h2>
      </div>
      <div class="modal-footer" id="deleteModalFooter">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
