<body>
<div class="overlay" (click)="closeFloater()"></div>
  <div class="floater content ">
    <form class="task-form">
    <div class="floater-top">
      <input type="text" class="form-control" placeholder="Name" (focus)="showFloater()"  (focusin)="showFloater()" (focusout)="closeFloater()">
      <input type="text" class="form-control" placeholder="Email" (focus)="showFloater()"  (focusin)="showFloater()" (focusout)="closeFloater()">
    </div>
    <div class="floater-bottom">
      <button type="submit" class="btn btn-outline-warning btn-sm">Submit</button>
    </div>
  </form>
  </div>
</body>


