.floater{
  background: #48C15B;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.4) all;
  margin-bottom: 30px;
  z-index: 11;
}

.floater input[type=text]{
  background: #48C15B;
  color: antiquewhite;
  padding: 30px 20px;
  border: none;
  box-shadow: none;
  font-size: 14px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.4) all;
}

.floater-bottom {
  padding: 6px 10px 8px;
  text-align: right;
  /* border-top: 1px solid #ddd; */
}

.floater-bottom button {
  padding: 4px 8px;
  font-size: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.80);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s ease opacity;
  z-index: 10;
  pointer-events: none;
}
