<header class="header d-flex align-items-center">
  <div class="flex-column align-items-center">
    <div class="logo-container mr-auto">
      <img src="..\assets\img\npcLogo.png" alt="Logo" class="header-logo">
    </div>
  </div>
  <div class="greeting text-wrap d-none d-md-block ml-3 my-0">
    <p>Greetings, Traveler</p>
  </div>
  <div class="signout">
    Logout
    <img (click)="signOut()" src="../../assets/img/signout.svg" alt="signout" style="cursor: pointer;width: 25px;height: 25px; padding-left: 5px">
  </div>
</header>
