<div class="container">

  <ul>
    @for (adventure of adventures; track adventure.id){
    <div class="card">
      <p> Title: {{ adventure.title }}</p>
      <p> Ruleset: {{ adventure.ruleset }}</p>
      <p> Description: {{ adventure.description }}</p>
      <p> Status: {{ adventure.status }}</p>
      <p> Type: {{ adventure.adventure_type }}</p>
      <p> Setting: {{ adventure.setting }}</p>
      <p> Adventures:
        <ul>
          <p> @for (character of adventure.characters; track character.id){
            <p>{{ character.name }}</p>
          }
          </p>
        </ul>
      <p> Name: {{ adventure.player }}</p>
    </div>
    }
  </ul>
</div>
